
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:"Roboto";
    font-size: 2rem;
    text-align: center;
}
nav{
    border:2px solid black;
    width: 600px;
    margin: 10px auto;
    border-radius: 25px;
   
    
}
h2{
    background: hsl(60, 83%, 60%);
    border-radius: 25px 25px 0 0;
}
ul li{
    border-top: 2px solid black;
   
   
    
}
li a{
    text-decoration: none;
    color: rgb(46, 44, 44);
    display: block;
    min-height: 60px;
   
}
li{
    list-style-type: none;
    text-align: center;

}
li a:hover,li a:focus{
    background-color: black;
    color: white;
}
li:last-child a{
    border-radius: 0 0 25px 25px;
}